div {
    font-family: 'Poppins', sans-serif;    
}

.div-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;    
}

.div-header img {
    width: 44px;
    height: 44px;
    margin-bottom: 1rem;
}

.div-header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.div-header button {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 8px;
    background-color: #5b2be0;
    color: white; 
}

.div-header button:hover {
    transform: translateY(-3px);
    border-color: #5b2be0;
    box-shadow: 0 8px 20px rgba(91, 43, 224, 0.2);
}

.div-search {    
    display: flex;    
    justify-content: end;
    gap: 2rem;        
}

.div-search button {
    border: none;
    background-color: rgb(240, 238, 238);
    Padding: 15px;
    border-radius: 10px;
}

.div-one-search {    
    width: 75%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-one-search input{
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 15px;
    width: 50%;
    background-color: rgb(240, 238, 238);
    color: gray;
}

.div-one-search button {            
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #5b2be0;
    color: white; 
}

.div-buttons {
    display: flex;
    gap: 1px;
}

.div-buttons button:hover {
    transform: translateY(-3px);
    border-color:  rgb(240, 238, 238);;
    box-shadow: 0 8px 20px rgba(68, 61, 86, 0.2);
}

.div-products {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
}

.table-products {
    border-collapse: collapse; 
    border: 1px solid lightgray;       
}

.table-products thead {
    background-color: rgb(240, 238, 238);        
}

.table-products th {
    padding: 10px;
    font-size: 0.7rem;
    font-weight: bold;
}

.table-products td {
    padding: 15px;
    font-size: 0.7rem;            
    border: 1px solid lightgray;            
}

.image-product {
    height: 30px;
    width: 30px;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.modal {        
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    background-color:  white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(91, 43, 224, 0.2);
}

.modal h7 {
    font-weight: bold;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

.modal button {    
    border: none;
    outline: none;                    
    color: white;
    border-radius: 5px;
    margin-left: 2px;    
    padding: 10px;
}

.btn-confirm {
    background-color: green;
}

.btn-confirm:hover {
    transform: translateY(-3px);
    border-color: #45a12b;
    box-shadow: 0 8px 20px rgba(91, 43, 224, 0.2);
}

.btn-cancel {
    background-color: rgb(171, 20, 20);
}

.btn-cancel:hover {
    transform: translateY(-3px);
    border-color: #a12f2b;
    box-shadow: 0 8px 20px rgba(91, 43, 224, 0.2);
}

.modal-cadastro {
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(91, 43, 224, 0.2);
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

.data {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.data input {
    width: 50%;
    padding: 10px;
    outline: none;
    border-radius: 6px;
}