.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f5ff;
    font-family: 'Poppins', sans-serif;
}

.home-header {
    text-align: center;
    margin-bottom: 2rem;
}

.home-header h2 {
    color: #4a1ccf;
    margin-bottom: 0.5rem;
}

.home-header p {
    color: #555;
    font-size: 0.95rem;
}

.home-cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 12px;
    width: 220px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition:  all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-6px);
    border-color: #5b2be0;
    box-shadow: 0 8px 20px rgba(91, 43, 224, 0.2);
}

.card img {
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
}

.card h3 {
    color: #4a1ccf;
    margin-bottom: 0.5rem;
}

.card p {
    color: #666;
    font-size: 0.9rem;
}

.footer button {
    margin-top: 20px;
    background-color: #5b2be0;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.75rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.7rem;
    transition: background-color 0.3s ease;
}

.footer button:hover {
    transform: translateY(-3px);
    border-color: #5b2be0;
    box-shadow: 0 8px 20px rgba(91, 43, 224, 0.2);
}